<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<div id= "inicio"> 
<div class="page-header">
  <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/820044/images/4613607/Untitled-4.png" alt="" width="50%">
  <h1>
    <small>Tu red social deportiva</small>
  </h1>
</div>
<button type="button" class="btn btn-default btn-lg">
  <a href="/auth/login">Login</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <a href="/auth/signup">Signup</a>
</button>
</div>